
.collapseHeader {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  color: #1d2129;
  justify-content: space-between;
}

.titleContainer {
    margin-left: 10px;
}

.collapseIcon {
  font-size: 18px;
  color: #165dff;
}

.actionContainer {
  margin-left: auto;
  display: flex;
  gap: 8px;
}